/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
	background:url("../img/background.jpg") top right no-repeat;
	background-attachment:fixed;
  background-color: #002200;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

article h4{
	background-color: rgba(111, 88, 70, 0.8);
  padding: 0.5em;
  color: rgba(240, 240, 216, 1);
	border: 0px;
	margin-bottom: 0px;
}

article p{
  background-color: rgba(240, 240, 216, 0.84);
  padding: 2.0em 2.0em 0em 2.0em;
  color: #6F5846;
  margin: 0px;
}

article a{
  background-color: rgba(240, 240, 216, 0.84);
  padding: 0.5em;
  text-align: right;
  color: #6F5846;
  display: block;
  margin: 0px;
}

