/*@import url(http://fonts.googleapis.com/css?family=Nixie+One);
*/

@import url(http://fonts.googleapis.com/css?family=Lancelot);

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
	background:url("../img/background.jpg") top center no-repeat;
	background-attachment:fixed;
  background-color: #002200;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
	font-family: 'Lancelot', cursive;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */


.header h1 {
	color: rgba(240, 240, 216,1.0);
  text-shadow: 3px 3px 10px rgba(111, 88, 70, 1.0);
	font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.header h2 {
	color: rgba(240, 240, 216,1.0);
  text-shadow: 3px 3px 10px rgba(111, 88, 70, 1.0);
  font-weight: 30px;
}

.header h4{
	color: rgba(240, 240, 216,1.0);
  text-shadow: 3px 3px 10px rgba(111, 88, 70, 1.0);
	/*font-weight: bold;*/
  font-weight: 25px;
}


/* Custom page footer */
.footer {
	font-size: 12px;
	background-color: rgba(111, 88, 70, 0.8);
  padding: 10px !important;
	text-align: right;
	color: rgba(240, 240, 216,1.0);
  border-top: 1px solid #e5e5e5;
}

.footer a{
	color: rgba(255, 112, 0, 1);
	text-shadow: 1px 1px 3px rgba(111, 88, 70, 1.0);
	text-decoration: none;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.menu_entry {
  cursor: pointer;
}

article {
  background-color: rgba(240, 240, 216, 0.84);
  color: #6F5846;
}

article h4{
		font-family: 'Lancelot', cursive;
	background-color: rgba(111, 88, 70, 0.8);
  padding: 0.5em;
  color: rgba(240, 240, 216, 1);
	border: 0px;
	margin-bottom: 0px;
}

article h4 a{
	background-color: none;
	color: inherit;
	text-decoration: none ;
	float: right;
	font-size: 90%;
}
article h4 a:hover{
	color: rgba(240, 240, 216, 1);
	text-decoration: none ;

}

article h5 {
  margin: 0;
  padding: 20px 0 0 20px; 
	font-family: 'Lancelot', cursive;
  font-size: 120%; 
  font-weight: bold; 
}

article p{
  padding: 2.0em 2.0em 0em 2.0em;
  margin: 0px;
	padding: 28px 14px;
  line-height: 1.5; 
}

article p a{
  background-color: rgba(240, 240, 216, 0.84);
  padding: 0.5em;
  text-align: right;
  color: #6F5846;
  display: block;
}

article ul li {
  margin: 10px 0px; 
}

@media (min-width: 500px) {
	.col-lg-6{
	  width: 50% !important;
  	float: left !important;
	}
}

@media (max-width: 499px) {
	.col-lg-6{
	  width: 100% !important;
  	float: none !important;
	}
}

